#submit-button {
  position: absolute;
  margin-top: 120px;
  width: 200px;
  font-size: 16px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

td {
  width: 90px;
}

section {
  margin: 40px;
}

input {
  width: 100%;
  font-size: 16px;
}

select {
  width: 100px;
  margin: 8px;
  font-size: 16px;
}

label {
  margin-top: 12px;
}

h2, h5 {
  text-align: center;
}

#data-entry {
  margin: 8px;
  z-index: 10;
}

#histograms {
  margin: 8px;
  width: 90vw;
  height: auto;
  z-index: 1;
}

img#histogram {
  height: 100%;
  width: 100%;
}
