#submit-button {
  max-width: 200px;
  font-size: 16px;
}

.row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  margin: 40px;
}

input, select {
  width: 200px;
  margin: 8px;
  font-size: 16px;
}

label {
  margin-top: 12px;
}

h2 {
  text-align: left;
}
